synthcity==0.2.11
langchain==0.0.228
langchainplus-sdk==0.0.20
matplotlib
numpy<2.0
openai==1.8.0
safetensors==0.4.1
scikit-learn
scipy
sentencepiece==0.1.99
seaborn==0.12.2
vllm==0.2.7
be_great==0.0.5
imblearn==0.0
openml==0.14.1
pandas
tqdm
xgboost
black
isort
umap-learn==0.5.3
